---
import {
	Icon,
	type PaginationProps,
	type ButtonProps
} from 'webcoreui/astro'

import Portfolio from '@components/Portfolio/Portfolio.astro'

// import logo from '../../public/logo.svg?raw'


const layout = {
    seo: {
        title: 'Jessica Albers',
        url: 'https://jessica-albers.de',
        description: '',
        // faviconUrl: '/logo.svg'
    },
    menu: {
        logo: {
            // html: logo
        }
    },
    footer: {
        logo: {
            // html: logo
        },
        columns: [
            {
                title: 'Kontakt',
                items: [
                    { href: 'mailto:josh@example.com', name: 'john@example.com' },
                    // { href: 'tel:+1 234 5678', name: '+1 234 5678' }
                ]
            },
            {
                title: 'Netzwerk',
                items: [
                    { href: '', name: 'ÖJN' },
                    { href: '', name: 'LPV' },
                    // { href: 'tel:+1 234 5678', name: '+1 234 5678' }
                ]
            }
        ]
    }
}

const hero = {
    heading: 'Jessica Albers',
    subHeading: 'Biodiversitätsberatung | Feldbotanik | Natur- und Landschaftsführungen',
    buttons: [
        // { text: 'Call Me', theme: 'success' as ButtonProps['theme'] },
        { text: 'Senden Sie mir eine Email', theme: 'outline' as ButtonProps['theme'] }
    ],
    // badge: {
    //     rounded: true,
    //     theme: 'outline' as ButtonProps['theme'],
    //     text: 'Top rated developer'
    // },
    image: {
        src: '/img/placeholder-hd1.png',
        alt: 'Banner',
        width: 500,
        height: 300
    }
}

const aboutMe = {
    title: 'Über mich',
    // text: 'Das ist was ich mache. ',
    img: {
        src: '/img/avatar.png',
        alt: 'About me',
        width: 150,
        height: 400
    },
    services: [
        'Artenvielfalt fördern – Quadratmeter für Quadratmeter',
        'Landwirtschaft, Naturschutz und Gesellschaft zusammenbringen – für mehr Artenvielfalt',
        'Unsere Umwelt reicher machen – mehr Pflanzenarten für alle',
        'Naturschutz ist kein Schimpfwort',
        'Nachhaltigkeit, Artenvielfalt, Leben und Lebensmittelerzeugung verbinden',
        'Biodiversitätsberatung als multifunktionales Lösungstool – Leben, Umwelt und Wirtschaft zusammendenken'
    ].map(feature => ({
        icon: 'circle-check',
        color: 'var(--w-color-success)',
        text: feature
    }))
}

// const ratings = [
//     {
//         score: 5,
//         showText: true,
//         text: 'Rated for result',
//         feedback: '"He did an excellent job. The end result is what we wanted."'
//     },
//     {
//         score: 5,
//         showText: true,
//         text: 'Rated for design',
//         feedback: '"A thorough, reliable, precise professional who is demanding in his work! I can only recommend him!"'
//     },
//     {
//         score: 5,
//         showText: true,
//         text: 'Rated for communication',
//         feedback: '"Thank you for your work! It turned out very nice!"'
//     }
// ]

// const ratingCta = {
//     text: 'More reviews',
//     theme: 'secondary' as ButtonProps['theme']
// }



const services = {
    secondary: true,
    items: [
        {
            // icon: 'info',
            title: 'List of services',
            text: 'Use the <code>GridWithIcons</code> block to organize your list into a grid with icons to enhance clarity and visual appeal.'
        }, {
            icon: 'alert',
            title: 'Configurable',
            text: 'You can create as many items as necessary with icons and an optional title. You can also configure the number of columns.'
        }, {
            icon: 'circle-check',
            title: 'Supports formatting',
            text: 'The <code>text</code> prop also supports formatting through <b>HTML</b> tags to help you customize the appearance of the element.'
        },
        {
            icon: 'info',
            title: 'List of services',
            text: 'Use the <code>GridWithIcons</code> block to organize your list into a grid with icons to enhance clarity and visual appeal.'
        }, {
            icon: 'alert',
            title: 'Configurable',
            text: 'You can create as many items as necessary with icons and an optional title. You can also configure the number of columns.'
        }, {
            icon: 'circle-check',
            title: 'Supports formatting',
            text: 'The <code>text</code> prop also supports formatting through <b>HTML</b> tags to help you customize the appearance of the element.'
        }
    ]
}


const myWork = {
    title: 'Referenzen',
        // items: Array
        // .from({ length: 3 }, (_, i) => i + 1)
        // .map(i => ({
        //     href: '#',
        //     img: {
        //         src: `/img/placeholder${i}.png`,
        //         alt: 'img',
        //         width: 500,
        //         height: 250
        //     },
        //     title: `My Work #${i}`,
        //     text: 'You can also pass <b>HTML</b> tags to your cards.'
        // }))
        
    items: [
        {title: `My Work #`,
        href: '#',
        img: {
            src: `/img/placeholder1.png`,
            alt: 'img',
            width: 500,
            height: 250},
        text: 'You can also pass <b>HTML</b> tags to your cards.'
        }

    ]
}


// const servicesCta = {
//     text: 'Call Me',
//     theme: 'success' as ButtonProps['theme']
// }
---

<Portfolio
    layout={layout}
    hero={hero}
    aboutMe={aboutMe}
    services={services}
    myWork={myWork}
>
    <div slot="menu">
        <!-- <span>•</span> -->
    </div>
</Portfolio>



<!-- <Portfolio
    layout={layout}
    hero={hero}
    aboutMe={aboutMe}
    ratings={ratings}
    myWork={myWork}
    services={services}
    servicesCta={servicesCta}
>
    <div slot="menu">
        <a href="tel:+1 234 5678">+1 234 asdkjhasd</a>
        <span>•</span>
        <a href="mailto:josh@example.com">josh@example.com</a>
    </div>
</Portfolio> -->
